{% extends 'home/header.html' %}

{% load staticfiles %}

{% block content %}

{% include 'home/includes/default_header.html' %}

<section>
    <div class="container-fluid pt-5">

        <div class="row members ">
            <div class="col">
                <img src="static/img/background.jpg" class="rounded rounded-circle imgs float-left" alt="..."
                    height="140px" width="140px">
                <div class="float-right">
                    <p>Person Person</p>
                    <p>Developer</p>
                </div>
            </div>

            <div class="col">
                <img src="static/img/background.jpg" class="rounded rounded-circle imgs float-left" alt="..."
                    height="140px" width="140px">
                <div class="float-right">
                    <p>Person Person</p>
                    <p>Developer</p>
                </div>
            </div>

            <div class="col">
                <img src="static/img/background.jpg" class="rounded rounded-circle imgs float-left" alt="..."
                    height="140px" width="140px">
                <div class="float-right">
                    <p>Person Person</p>
                    <p>Developer</p>
                </div>
            </div>

            <div class="col">
                <img src="static/img/background.jpg" class="rounded rounded-circle imgs float-left" alt="..."
                    height="140px" width="140px">
                <div class="float-right">
                    <p>Person Person</p>
                    <p>Developer</p>
                </div>
            </div>

            <div class="col">
                <img src="static/img/background.jpg" class="rounded rounded-circle imgs float-left" alt="..."
                    height="140px" width="140px">
                <div class="float-right">
                    <p>Person Person</p>
                    <p>Developer</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container-fluid p-5">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse impedit eos similique! Aperiam provident
            similique sint? Magni, reprehenderit non perspiciatis dolore ipsum nobis, reiciendis eos officia saepe
            dolorem commodi dolor placeat sint? Debitis delectus rem repudiandae dolorum nihil vero laborum nulla,
            expedita itaque veniam tempora asperiores id sequi dolore iste earum corrupti voluptatibus ipsum, cumque
            reiciendis? Libero, ullam natus. Quis doloremque hic assumenda alias. Ad voluptatem eaque doloremque
            aspernatur, magnam dicta veniam harum minima, deleniti tenetur blanditiis accusantium itaque iure voluptate
            fugiat. Asperiores, nostrum sed? Quo labore maiores voluptas nihil est ex. Voluptatem, voluptates deserunt
            culpa unde, incidunt sed magni modi dicta, odio ea numquam atque error ullam. Reiciendis, dolore suscipit.
            Sint ut deleniti consectetur, laudantium nihil ducimus! Perspiciatis repudiandae praesentium quo quis
            perferendis amet inventore voluptate similique. Accusamus, iure ab placeat laboriosam repellendus id
            corporis a nihil quaerat ea laudantium alias facilis unde consequuntur natus deserunt ullam soluta
            cupiditate vero adipisci eius architecto cumque? Autem corporis ad accusantium ducimus harum recusandae est
            rerum, libero dolorum. In enim minus corporis. Consectetur vel, nobis autem odio doloribus quo quibusdam
            laborum cumque vero. Hic, quisquam corporis magni officia minus tempora nostrum? Voluptatem explicabo
            consequatur ipsa quis iste perspiciatis asperiores molestias velit quo.</p>
    </div>
</section>

<section>
    <div class="container-fluid px-5">
        <div class="row pb-5">
            <div class="col-md-6 col-sm-6 ">
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos suscipit fugit dolorum
                    quidem.
                    Nobis excepturi necessitatibus fuga debitis nam totam.</p>
            </div>
            <div class="col-md-6 col-sm-6">
                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos suscipit fugit dolorum
                    quidem.
                    Nobis excepturi necessitatibus fuga debitis nam totam.</p>
            </div>
        </div>
    </div>
</section>

{% endblock %}